.media-file {
    width: 128px;
    height: 128px;
    float: left;
    margin-left: 24px;
    margin-bottom: 24px;
    position: relative;
}
      
#media-grid, #media-list {
    height: 300px;
    overflow-y: scroll;
}

.mplay-icon {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 100;
}

.dbtn {
    position: absolute;
    display: none;
    z-index: 100;
    top: 10px;
    right: 8px;
}

ul.carousel {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 42em;
    height: 24em;
}
ul.carousel li {
    height: 20em;
    width: 30em;
    text-align: center;
    cursor: pointer;
}
ul.carousel li.roundabout-in-focus {
    cursor: default;
}
ul.carousel li span {
    display: block;
}
ul.carousel li span img {
    width: 100%;
    height: 100%;
}

.lightbox-content {
    padding: 10px;
    background-color: #fff;
}
