<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Viblio</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Link1</a></li>
      <li><a href="#">Link2</a></li>
    </ul>

    <span class="pull-right" style="margin-top: 8px;">
      <span class="muted" style="margin-right: 8px;">Welcome [% c.user.displayname %]</span>
      <a href="[% c.uri_for( '/logout' ) %]">logout</a>
    </span>

  </div>
</div>

