<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Shared Video from Viblio.com</title>

  <meta name="medium" content="website" />
  <meta name="title" content="[% mediafile.title || 'My VIBLIO Video' %]" />
  <meta name="description" content="[% mediafile.description || 'I am sharing this video from my VIBLIO collection.' %]" />

  <meta property="og:url" content="[% server %]s/p/[% mediafile.uuid %]" />
  <meta property="og:site_name" content="VIBLIO" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="[% mediafile.title || 'My VIBLIO Video' %]" />
  <meta property="og:description" content="[% mediafile.description || 'I am sharing this video from my VIBLIO collection.' %]" />
  <meta property="og:image" content="[% server %]s/ip/[% mediafile.views.poster.uri %]" />

  <meta name="twitter:card" content="summary" />
  <meta	name="twitter:site" content="iviblio" />
  <meta name="twitter:title" content="[% mediafile.title || 'My VIBLIO Video' %]" />
  <meta name="twitter:description" content="[% mediafile.description || 'I am sharing this video from my VIBLIO collection.' %]" />
  <meta name="twitter:image" content="[% server %]s/ip/[% mediafile.views.poster.uri %]" />
  <meta name="twitter:url" content="[% server %]s/p/[% mediafile.uuid %]" />

</head>
<body>
  <script>
    function go() {
      window.location = "/#web_player?mid=[% mediafile.uuid %]";
    }
    window.onload = go;
  </script>
</body>
</html>
