<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Shared Video from Viblio.com</title>

  <meta name="title" content="Viblio Video" />
  <meta name="description" content="If only the rest of your digital life could be this organized!" />
  <meta name="image_src" content="[% server %]css/images/logo-color-300.png" />

  <meta property="og:url" content="[% server %]shared/simple" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Viblio" />
  <meta property="og:title" content="Viblio Video" />
  <meta property="og:description" content="If only the rest of your digital life could be this organized!" />

  <meta property="og:image" content="[% server %]css/images/logo-color-300.png" />

  <!-- Twitter (http://www.quicksprout.com/2013/03/25/social-media-meta-tags-how-to-use-open-graph-and-cards/) -->
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:title" content="Viblio Video" />
  <meta name="twitter:description" content="If only the rest of your digital life could be this organized!" />
  <meta name="twitter:image" content="[% server %]css/images/logo-color-300.png" />
  <meta name="twitter:url" content="[% server %]shared/simple" />

</head>
<body>
  <script>
    function go() {
      window.location = "/";
    }
    window.onload = go;
  </script>
</body>
</html>
