<div class="folder">
    <label for="sync">Sync?</label>
    <input type="checkbox" name="sync" data-bind="checked: selected"/>
    <!-- ko ifnot: selected -->
    <div class="folderIcon" data-bind="click: navigate">
            <i class="icon-folder-close font40"></i>
            <div class="numVids">
                <span class="textShadowed" data-bind="text: numVids"></span>
            </div>
        </div>
    <!-- /ko -->
    <!-- ko if: selected -->
        <div class="folderIcon">
            <i class="icon-folder-open font40"></i>
            <div class="numVids">
                <span class="textShadowed" data-bind="text: numVids"></span>
            </div>
        </div>
    <!-- /ko -->
    <p class="title font20 textShadowed" data-bind="text: name"></p>    
</div>