<div class="queue" data-bind="visible: files().length">
  <div style="visibility: hidden;" class="vup-all-control">
    <div class="pull-right">
      <button class="cancel-button btn btn-small btn-primary"
	      data-bind="click: cancel">Cancel All</button>
      <button class="pause-button btn btn-small btn-warning"
	      data-bind="click: pause">Pause All</button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="vup-area">
    <table class="vup-files" data-bind="foreach: files">
      <tr>
	<td class="vup-filename-column" data-bind="text: $data.basename"></td>
	<td class="vup-file-progress-column">
	  <span class="bar" data-bind="attr:{uuid:$data.id}">waiting...</span>
	</td>
	<td class="vup-cancel-column">
	  <a title="Cancel" data-bind="click: $parent.cancel_file" class="vup-cancel-file"><i class="icon-remove"></i></a>
	  <a title="Pause/Resume" data-bind="click: $parent.pause_file" class="vup-pause-file"><i class="icon-pause"></i></a>
	</td>
      </tr>
    </table>
  </div>

  <div class="vup-stats">
    <table>
      <tr>
	<td><span class="vup-data-point vup-overall-bitrate" data-bind="html: overall_bitrate"></span></td>
	<td><span class="vup-data-point vup-overall-percent" data-bind="html: overall_percent"></span></td>
	<td><span class="vup-data-point vup-overall-size" data-bind="html: overall_size"></span></td>
      </tr>
      <tr>
	<td><span class="vup-data-title">Upload Speed</span></td>
	<td><span class="vup-data-title">Percent Done</span></td>
	<td><span class="vup-data-title">Data Uploaded</span></td>
      </tr>
    </table>
  </div>
</div>

<div class="stats" data-bind="visible: files().length==0">
  <div>
    <table>
      <tr><td>Files Uploaded:</td><td data-bind="text: total_files_uploaded">0</td></tr>
      <tr><td>Data Uploaded:</td><td data-bind="text: total_data_uploaded"> 0 MB</td></tr>
    </table>
  </div>
</div>
