<!DOCTYPE html>
<html><header>

</header>
<body style="margin: 0;padding: 0;">
<div id="wrapper" style="width: 530px;padding: 30px;background-color: #373b49;margin-right: auto;margin-left: auto;">
<div id="w2" style="background-color: white;color: #71707d;"> 
<div id="top" style="margin: 30px;">
  <h2 style="text-align: center;margin-right: auto;margin-left: auto;">Your First Viblio Video</h2>
  <p style="text-align: center;margin-right: auto;margin-left: auto;">It's the beginning of a wonderful relationship!  Your first
  video is now up on your personal
  <a href="[% server %]#/home/" style="color: #f57f75;text-decoration: none;">Viblio Channel</a>
  </p>
</div>
<hr>
<div id="middle" style="margin: 30px;">
  <h2 style="text-align: center;margin-right: auto;margin-left: auto;color: #f57f75;text-decoration: none;">[% user.email %]</h2>
  <div class="poster" style="position: relative;">
    <a href="[% server %]#/player?mid=[% media.uuid %]" style="color: #f57f75;text-decoration: none;">
      <img style="display: block;margin-right: auto;margin-left: auto;" class="img-polaroid" src="[% media.views.poster.url %]">
    </a>
  </div>
</div>
<hr>
<div id="bottom" style="margin: 30px;">
  <p style="text-align: center;margin-right: auto;margin-left: auto;">Viblio discovers faces of your friends and loved ones and
  makes sharing (and privacy!) easy.</p>
[% IF media.views.face %]
  <h3 style="text-align: center;margin-right: auto;margin-left: auto;">We found these new faces in your video:</h3>

  <ul class="thumbnails" style="text-align: center;margin-right: auto;margin-left: auto;margin-bottom: 20px;">
    [% FOREACH face = media.views.face %]
    <li class="face" style="display: inline;list-style-type: none;padding-right: 20px;float:left;">
      <div class="thumbnail" style="width: 64px;height: 64px;">
	<img width="64" height="64" src="[% face.url %]" alt="" style="width: 64px;height: 64px;">
        <div class="name">Stranger</div>
      </div>
    </li>
    [% END %]
  </ul>
  <div style="clear: both;">&nbsp;</div>

  <div id="name-btn">
    <a href="[% server %]#/player?mid=[% media.uuid %]" style="width:200px;color: white;text-decoration: none;display:block;margin-right: auto;margin-left: auto;background-color: #f57f75;padding: 10px;">
      Name these faces &gt;&gt;
    </a>
  </div>

[% ELSE %]
  <h3 style="text-align: center;margin-right: auto;margin-left: auto;">We did not detect any faces in this video.:</h3>

[% END %]

</div>

</div>
</div>
</body>
</html>
